/*

first color : #08526d
secund color : #eClc23
*/
:root{
    --first :  #08526d;
    --second: #eClc23;
}
/* start upper par */
.upper-bar{
    background-color:var(--first) ;
    color: #FFF;
    padding: 8px;
}
.upper-bar span{
    color: #bfc6c9;
}
.upper-bar .get-quote{
    display: inline-block;
    border: 1px solid #eC1c23;
    padding: 2px 9px;
    margin-left: 20px;
}
/* start upper par */
/* Start Navbar */
.navbar{
    display: flex;
}
.navbar-nav{
    display: flex;
    margin-left:500px;
}
.navbar-brand{
    margin-left: 100px;
}
.navbar-brand span:first-child{
    font-weight: bold;
    color: #08526d;
}
.navbar-brand span:last-child{
    font-weight: bold;
    font-size: 32px;
    color: #ec1e23;
}
/* End Navbar */

/* start slier*/
.slider{
    background-color: #DDD;
}
.slider .carousel-inner {
    display: flex;
    align-items: center;
    justify-content: left;
}
.slider .carousel-inner h1 {
    position: absolute;
    color: #FFF;
    z-index: 3;
    font-size: 70px;
    max-width: 900px;
    margin-right: 100px;
    left: 65px;
}
.slider .carousel-inner h1 span{
    background-color:#ec1e23 ;
    color: #FFF;
    display: inline-block;
    padding: 2px 10px;
}
.slider .carousel-inner .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 0 0 / 0.6);
    z-index: 2;
}
.slider .carousel-indicators li {
    height:8px;
    cursor: pointer;
}
/* end slier*/
/* Start Features*/
.features{
    padding: 50px;
}
.features i {
    background-color: #ec1e23;
    color: #FFF;
    width: 100px;
    height: 100px;
    line-height:100px ;
}
.features h3{
    color: #08526d ;
}
.features p{
    color: #898989;
    margin-bottom: 40px;
}
/* End Features*/

/*Start overview*/
.overview{
    padding: 100px;
    background-color: #f0f5f7;
}
.overview h2{
    font-size: 50px;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 30px;
}
.overview p{
    line-height: 2;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 0 auto 15px;
    color: #6a6a6a;
}
.overview h4{
    letter-spacing: 2px;
    font-weight: normal;
    color: #8e8a8a;
    margin-bottom: 40px;
}
.overview button {
    background-color: #ec1e23;
    color: #FFF;
    padding: 10px 30px;
    font-size: 20px;
    font-weight: bold;
    border: 1px solid #ec1e23;
}
/*End overview*/

/*Start Featured work*/
.featured-work{
    padding: 100px 0;
}
.featured-work h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.featured-work p{
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 0 auto 15px;
    color: #6a6a6a;
}
.featured-work ul{
    margin-top: 35px;
    margin-bottom: 40px;
}
.featured-work ul li{
 color:#08526d;
 border: 2px solid #08526d;
 padding: 10px 20px;
 margin-left: 10px;
 margin-bottom: 10px;
 -webkit-transition:all.3s ease-in-out;
 -moz-transition:all.3s ease-in-out;
 -o-transition:all.3s ease-in-out;
 transition:all.3s ease-in-out;
}
.featured-work ul li.active,
.featured-work ul li:hover{
    background-color:#ec1e23;
    border: 2px solid #ec1e23;
    color: #FFF;       
}
.featured-work ul li:hover{
    cursor: pointer;
}

.featured-work .shuffle-imgs .row{
    margin: 0;
}
.featured-work .shuffle-imgs .row .col-sm{
    padding: 0;
}
.featured-work .row .col-sm img{
    width: 100%;
}
.featured-work {
    margin-top: 40px;
}
/*End Featured work*/


/*Start Latest posts*/
.latest-post{
    padding: 0 0 100px;
}
.latest-post h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.latest-post p{
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 0 auto 15px;
    color: #6a6a6a;
}

.latest-post .card .card-title{
    font-size: 20px;
    line-height: 1.5;
    color: #08526d;

}
.latest-post .card .card-text{
    color: #787878;
}
.latest-post .card .card-body .text-link{
    color: #ec1e23;
    font-weight: bold;
}



/*End Latest posts*/




/*Start Testimonials*/
.testimonials {
    -webkit-background-size:cover;
    -moz-background-size:cover;
    -o-background-size:cover;
    background-size: cover;
    background-image: url('../img/testimonial.jpg');
    position: relative;
}
.testimonials .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background-color: rgb(0 ,0 ,0 , 0.6);
    z-index: 2;
}
/*End Testimonials*/

/*Start Pricing table */
.pricing-table{
    background-color: #f7f6f6;
    padding: 100px 0 100px;
}
.pricing-table h2{
    font-size: 50px;
    font-weight: bold;
    margin-bottom: 20px;
}
.pricing-table p{
    line-height: 1.6;
    font-size: 20px;
    width: 80%;
    margin: auto;
    margin-bottom: 0 auto 15px;
    color: #6a6a6a;
}

.pricing-table .card .card-title{
    font-size: 25px;
    line-height: 1.5;
    color: #08526d;

}
.pricing-table .card .card-text{
    margin: 30px 0;
    background-color: #f7f7f7;
    padding: 10px;
    font-size: 30px;
    font-weight: bold;
    color: #08526d;
}
.pricing-table .card .card-text span{
 font-size: 17px;   
}

.pricing-table .card .card-body .text-link{
    color: #ec1e23;
    font-weight: bold;
}
/*End Testimonials*/


/*Start statistics*/
.stats{
 padding: 80px 0;
 color: #08526d;
}

.stats .number{
 display: block;
 font-size: 50px;
 font-weight: bold;
}
.stats p{
    color:#ec1e23 ;
    font-size: 18px;
    
}


/*End statistics*/




/*Start Choose Us */

.choose-us img{
    max-width: 100%;
}
.choose-us .col-6{
    padding: 0;
}
.choose-us .col-6:last-child{
    background-color: #08526d;
    color: #FFF;
    padding-top:10px ;    
}

.choose-us .h1{
    margin: 40px;
}

.choose-us p {
    margin: 40px;
    line-height: 2;
    font-size: 18px;
}
.choose-us .read-more{
    display: inline-block;
    padding: 6px 20px;
    margin:0 0 0 20px;
    background-color:#eC1c23 ;
    color: #FFF;
    font-size: 20px;
    font-weight: bold;
    text-transform: uppercase;
    
}
/*End Choose Us */

/*Start contact us*/
.contact-us{
    padding: 70px 0;
    background-color:#eC1c23;
    color: #FFF;
    font-size: 20px;
}
.contact-us p{
    margin: 0;
}
.contact-us a{
    margin: 0;
    color: #FFF;
    border: 2px solid #FFF;
    padding: 6px 10px ;
    text-transform: uppercase;
    font-weight: bold;
}
.contact-us .m1{
    text-align: left;
}
.contact-us .m2{
    text-align:right;
}
/*End Contact Us */


/*Start Footer */
.footer{
    padding: 100px 0;
}
.footer .site-info h2{
    font-size: 24px;
    margin-bottom: 30px;
}
.footer .site-info h2 span:first-child{
    font-weight: bold;
    color: #08526d;
}
.footer .site-info h2 span:last-child{
    font-weight: bold;
    font-size: 32px;
    color: #ec1e23;
}
.footer .site-info p{
    line-height: 1.8;
    color: #727272;
}
.footer .site-info a{
    color: #08526d;
    font-weight: bold;
    font-size:15px;
}
.footer .site-info a:before{
    font-family: 'FontAwesome';
    content:'\f138'; 
    display: inline-block;
    margin-right: 5PX;
}
.footer .helpful-links h2 , 
.footer .contact h2{
    font-size: 22px;
    font-weight: bold;
    color:  #08526d;
    margin-bottom: 40px;
}
.footer .site-info ul li:before{
    font-family: 'FontAwesome';
    content:"f054"; 
    display: inline-block; 
    margin-right: 5px;
}
.footer .contact ul li{
    margin-bottom: 10px;
}
/*End Footer */
/*Start Copyright*/
.copyright{
    border-top: 1px solid #c0c0c0;
    padding: 15px;
}
.copyright ul{
    margin: 0;
}
.copyright ul li{
    display: inline-block;
}
.copyright ul li a{
    color: #777;
    margin-left: 20px;
    font-size: 18px;
}
.copyright .m1{
    text-align: left;
}
.copyright .m2{
    text-align: right;
}
.face:hover{
    -webkit-transition:all.3s ease-in-out;
    -moz-transition:all.3s ease-in-out;
    -o-transition:all.3s ease-in-out;
    transition:all.3s ease-in-out;
    color: #3578E5;
}
.twitt:hover{
    -webkit-transition:all.3s ease-in-out;
    -moz-transition:all.3s ease-in-out;
    -o-transition:all.3s ease-in-out;
    transition:all.3s ease-in-out;
    color: #3578E5;
}
.yout:hover{
    -webkit-transition:all.3s ease-in-out;
    -moz-transition:all.3s ease-in-out;
    -o-transition:all.3s ease-in-out;
    transition:all.3s ease-in-out;
    color: #FF0000;
}
.plus:hover{
    -webkit-transition:all.3s ease-in-out;
    -moz-transition:all.3s ease-in-out;
    -o-transition:all.3s ease-in-out;
    transition:all.3s ease-in-out;
    color: #db4a39;
}
/*End Copyright*/